ul{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

ul li{
  display: flex;
  width: 300px;
  height: 140px;
  flex-direction: column;
  align-items: center;
  background-color: rgb(78, 61, 155);
  gap: 1rem;
  border-radius: 5px 5px 0px 0px;
}

ul li .name{
  width: 100%;
  background-color: rgb(252, 252, 252);;
  color: rgb(3, 3, 3);
  font-weight: bold;
  border-radius: 5px 5px 0px 0px;
  font-size: 0.9rem;
  text-align: center;
  text-transform: uppercase;
}

ul li .star{
  display: flex;
  align-items: center;
  gap: 0.1rem;
  color: rgb(229, 255, 0);
  font-size: 0.8rem;
  font-weight: bold;
}

ul li button {
  outline: none;
  border: none;
  background-color: rgb(33, 33, 34);
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in 0.4s background-color;
}

ul li button:hover{
  background-color:rgb(93, 17, 192) ;
}

ul li button a{
  text-decoration: none;
  color: white;
}